
html{
    scroll-behavior: smooth;
}

#left h2 {
  margin-left: auto;
  width: 100%;
}

#left {
  text-align: right;
  margin-left: auto;
}

#instagram_title .beautium-subheading {
  font-size: 150px;
}

#instagram__header {
  position: relative;
  bottom: -180px;
  z-index: 2;
}

@media (max-width: 800px) {
  #left h2 {
    margin-left: auto;
    width: 100%;
  }

  #left {
    text-align: right;
    margin-left: auto;
  }

  #instagram_title .beautium-subheading {
    font-size: 60px;
  }

  #instagram__header {
    position: relative;
    bottom: -60px;
    z-index: 2;
  }
}


.page-loader-container img{
    width: 600px;
}

.team-socials.wrapper-socials a{
  color: #ffbe0b !important;
}

.footer-scroll-top{
  background-color: #ffbe0b !important;
}

:root{
  --color-text:rgb(134, 134, 134);
  --text-font-h1: serif ;
}


h1{
  font-family: var(--text-font-h1);
  color: var(--color-text);
}